= render "posts/header"
-# ユーザー情報
.user-show-wrapper
  .user-show-wrapper__row
    .user-show-wrapper__row__user-contents
      .user-show-wrapper__row__user-contents__left
        - if @user.image.present?
          %a{"data-lightbox" => "abc", :href => "#{@user.image.url}"}
            = image_tag @user.image.url, class: 'user-image'
        - else
          = image_tag "silhouette.png", alt: "pic", class: 'user-image'
      .user-show-wrapper__row__user-contents__right
        .user-show-wrapper__row__user-contents__right__top
          .user-show-wrapper__row__user-contents__right__top__name
            = @user.name
          .user-show-wrapper__row__user-contents__right__top__follow
            - if @user.id == current_user.id
              = link_to edit_user_path, class: "btn-edit" do
                = icon('fas', 'cog')
            - else 
              .follower-dm
                - if current_user.following?(@user)
                  - if @user.id == current_user.id
                  - else
                    - if @isRoom == true
                      = link_to "/rooms/#{@roomId}", class: "dm" do
                        = icon('fas', 'envelope')
                    - else
                      = form_for @room do |f|
                        = fields_for @entry do |e|
                          = e.hidden_field :user_id, :value=> @user.id
                        = f.button type: "submit", class: "new-dm" do
                          = icon('fas', 'envelope')
                  = form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f|
                    = f.hidden_field :follow_id, value: @user.id
                    = f.submit 'フォロー中', class: 'follow-now'
                - else
                  = form_for(current_user.relationships.build) do |f|
                    = f.hidden_field :follow_id, value: @user.id
                    = f.submit 'フォローする', class: 'follows'
        .user-show-wrapper__row__user-contents__right__data
          .user-show-wrapper__row__user-contents__right__data__text
            - unless @user_age.blank?
              = @user_age.name
              ／
            - unless @user.hair_quality.blank? || @user.hair_length.blank?
              髪
              - unless @user.hair_quality.blank?
                = @user.hair_quality
              - unless @user.hair_length.blank?
                = @user.hair_length
              ／
            - unless @user.skin_quality.blank?
              = @user.skin_quality
              ／
            - unless @user.beard.blank?
              髭
              = @user.beard
              ／
        .user-show-wrapper__row__user-contents__right__count
          .user-show-wrapper__row__user-contents__right__count__follow.follow-up.follow-up-show
            = @user.followings.count
            フォロー
          .user-show-wrapper__row__user-contents__right__count__follower.follower-up.follower-up-show
            = @user.followers.count
            フォロワー
        .user-show-wrapper__row__user-contents__right__info
          .user-show-wrapper__row__user-contents__right__info__text
            - unless @user.remark.blank?
              = @user.remark
    -# クチコミ
    .user-show-wrapper__row__post-contents
      .user-show-wrapper__row__post-contents__header
        クチコミ一覧
      
      .user-show-wrapper__row__post-contents__items
        - if @posts.present?
          .user-show-wrapper__row__post-contents__items__content
            - @posts.each do |post|
              = link_to  post_path(post.id), class: 'link-item' do
                .user-show-wrapper__row__post-contents__items__content__image
                  = image_tag post.images[0].url.url, width: "100", height: "100", alt: "pic", class: 'image'
                .user-show-wrapper__row__post-contents__items__content__info
                  .user-show-wrapper__row__post-contents__items__content__info__brand
                    = post.brand
                  .user-show-wrapper__row__post-contents__items__content__info__name
                    = post.name.truncate(15)
                  .user-show-wrapper__row__post-contents__items__content__info__price
                    = post.praice
                    円（税抜）
                  .user-show-wrapper__row__post-contents__items__content__info__star
                    %div{:id => "star-rate-#{post.id}"}
                      :javascript
                        $('#star-rate-#{post.id}').raty({
                          size: 36,
                          starOff:  '#{asset_path('star-off.png')}',
                          starOn : '#{asset_path('star-on.png')}',
                          starHalf: '#{asset_path('star-half.png')}',
                          half: true,
                          readOnly: true,
                          score: #{post.star},
                        });
                      = post.star
                  .user-show-wrapper__row__post-contents__items__content__info__text
                    もっと見る
        - else
          .user-show-wrapper__row__post-contents__items__no-content
            まだ投稿がありません
= render "follow"
= render "posts/footer"