= render "posts/header"
.room-show-wrapper
  .room-show-wrapper__contents
    .room-show-wrapper__contents__main
      -# メッセージ一覧
      .room-show-wrapper__contents__main__left
        .room-show-wrapper__contents__main__left__title
          Direct
        .room-show-wrapper__contents__main__left__list
          - @anotherEntries.each do |e|
            = link_to room_path(e.room.id) do
              .room-list
                .room-list__image
                  - if e.user.image?
                    = image_tag "#{e.user.image.url}", class: "message-user-image"
                  - else
                    = image_tag "silhouette.png", class: "message-user-image"
                .room-list__talk-box
                  .room-list__talk-box__name
                    = e.user.name
                  .room-list__talk-box__last-talk
                    - if e.room.messages.present? 
                      = e.room.messages.order(created_at: :desc).take.try(:content).truncate(15)
                    -else
                      まだメッセージはありません。

      -# DM
      .room-show-wrapper__contents__main__right
        .room-show-wrapper__contents__main__right__title
          - @entries.each do |e|
            - if e.user.id == current_user.id
            - else
              .room-show-wrapper__contents__main__right__title__image
                - if e.user.image?
                  = image_tag "#{e.user.image.url}", class: "opponent-img"
                - else
                  = image_tag "silhouette.png", class: "opponent-img"
              .room-show-wrapper__contents__main__right__title__name
                %a{href: "/users/#{e.user.id}", class: "opponent-user"}
                  = e.user.name
        .room-show-wrapper__contents__main__right__message
-# %h1 DM
-# %h4 参加者
-# - @entries.each do |e|
-#   %h5
-#     %strong
-#       %a{:href => "/users/#{e.user.id}"}
-#         = e.user.email
-#         さん
-# %hr/
-# - if @messages.present?
-#   - @messages.each do |m|
-#     %strong= m.content
-#     %small
-#       by
-#       %strong
-#         %a{:href => "/users/#{m.user_id}"}
-#           = m.user.email
-#           さん
-#     %hr/
-# - else
-#   %h3.text-center メッセージはまだありません
-# = form_for @message do |f|
-#   = f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70
-#   = f.hidden_field :room_id, :value => @room.id
-#   %br/
-#   = f.submit "投稿する"

