.header
  .header__content
    .header__content__right
      = link_to "/", class: "btn-top" do
        Men's Cosmetic
    .header__content__left
      .header__content__left__user
        - if user_signed_in?
          = link_to 'ログアウト', destroy_user_session_path, class: "headerContent__rightBox--items", method: :delete  
          = link_to user_path(current_user),  class: "btn-user" do
            = current_user.name
      .header__content__left__post
        = link_to '投稿', "#",  class: "btn-post"
