.top-main
  .top-main__contents
    -# カテゴリー
    .top-main__contents__category
      .top-main__contents__category__title
        = link_to categories_path,  class: "category" do
          カテゴリーから探す
      .top-main__contents__category__content
        %ul
          %li
            = link_to  category_post_path(1) do
              = image_tag "wash.jpg", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                スキンケア
          %li.category-make
            = link_to  category_post_path(2) do
              = image_tag "make.jpg", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                メイクアップ
          %li.category-hair
            = link_to  category_post_path(3) do
              = image_tag "wax.png", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                ヘアスタイリング剤
          %li.category-shaver
            = link_to  category_post_path(4) do
              = image_tag "shaver.jpg", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                シェーバー
          %li.category-perfume
            = link_to  category_post_path(5) do
              = image_tag "perfume.jpg", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                フレグランス
          %li.category-bath
            = link_to  category_post_path(6) do
              = image_tag "shampoo.jpg", width: "250", height: "250", alt: "pic", class: 'image'
              %br/
              .title
                バス用品
    -# 新着投稿
    .top-main__contents__new-posts
      .top-main__contents__new-posts__title
        最新のクチコミ
      .top-main__contents__new-posts__content
        .top-main__contents__new-posts__content__head
          %table
            %tr
              %td.top-main__contents__new-posts__content__title
                商品画像
              - @posts.each do |post|
                %td
                  = image_tag post.images[0].url.url, width: "150", height: "150", alt: "pic", class: 'image'
            %tr
              %td.top-main__contents__new-posts__content__title
                ブランド
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = post.brand
            %tr
              %td.top-main__contents__new-posts__content__title
                商品名
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = post.name
            %tr
              %td.top-main__contents__new-posts__content__title
                カテゴリー
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = post.category.name
            %tr
              %td.top-main__contents__new-posts__content__title
                評価
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  %div{:id => "star-rate-#{post.id}"}
                  :javascript
                    $('#star-rate-#{post.id}').raty({
                      size: 36,
                      starOff:  '#{asset_path('star-off.png')}',
                      starOn : '#{asset_path('star-on.png')}',
                      starHalf: '#{asset_path('star-half.png')}',
                      half: true,
                      readOnly: true,
                      score: #{post.star},
                    });
            %tr
              %td.top-main__contents__new-posts__content__title
                参考価格
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = post.praice
                  円（税抜）
            %tr
              %td.top-main__contents__new-posts__content__title
                投稿者
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = link_to  user_path(post.user.id), class: 'link' do
                    = post.user.name
            %tr
              %td.top-main__contents__new-posts__content__title
                商品リンク
              - @posts.each do |post|
                %td.top-main__contents__new-posts__content__body
                  = link_to  post_path(post.id), class: 'link' do
                    評価を見る
    -# 人気ユーザー
    .top-main__contents__users
      .top-main__contents__users__title
        人気のユーザー
      .top-main__contents__users__content
        - @users.each do |user|
          = link_to  user_path(user.id) do
            .top-main__contents__users__content__user
              .top-main__contents__users__content__user__image
                - if user.image.present?
                  = image_tag user.image.url, class: 'user-image'
                - else
                  = image_tag "silhouette.png", alt: "pic", class: 'user-image'
              .top-main__contents__users__content__user__name
                = user.name
              .top-main__contents__users__content__user__follower
                = icon('fas', 'user')
                = user.followers.count