= render "header"
.show-post-wrapper
  .show-post-wrapper__main
    .show-post-wrapper__main__title
      .show-post-wrapper__main__title__brand
        = @post.brand
      .show-post-wrapper__main__title__name
        = @post.name
    .show-post-wrapper__main__images
      - @post.images.each do |i|
        = image_tag ("#{i.url.url}"), class: "small-img"
    .show-post-wrapper__main__info
    .show-post-wrapper__main__user
    .show-post-wrapper__main__remarks
  .show-post-wrapper__comment


= render "footer"